.fees-header {
  text-align: center;
}

.fee-list-title {
  text-align: flex-start;
}

.fee-list {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.fee-list-container {
  margin-top: 75px;
  margin-left: 10%;
}

.fee-list-items {
  display: flex;
  flex-direction: column;
}

.fee-list-fees {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fee-summary-item {
  height: 60px;
  font-size: 18px;
  margin: -10px 0;
  list-style-type: none;
}

.fee-summary-header {
  font-weight: bold;
}

.services-detail-container {
  margin-top: 75px;
  margin-left: 10%;
}

.service-detail {
  margin-top: 35px;
}

.service-button {
  margin-top: 10px;
  text-align: left;
  padding-left: 25px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
}

.service-button:hover {
  cursor: pointer;
}
