* {
  box-sizing: border-box;
}

.menu-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 25px;
  margin: 20px auto;
}

.menu-item {
  display: flex;
  margin: 0 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.menu-item:hover {
  font-size: 20px;
}

.menu-item:visited {
  text-decoration: none;
}

.portal {
  color: #c0a44a;
}

.banner {
  display: flex;
  width: 110%;
  height: 350px;
  margin-left: -1vw;
  background-color: #335145;
}

.banner-content {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0 10%;
  color: #c0a44a;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 20px;
  font-style: italic;
}

.banner-image {
  display: flex;
  flex: 1;
  max-width: 100%;
}
