* {
  box-sizing: border-box;
}

.menu-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu-item {
  display: flex;
  margin: 0 5px;
}

.banner {
  display: flex;
  width: 110%;
  height: 350px;
  margin-left: -1vw;
  background-color: #335145;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  margin: 0 10%;
  flex: 3;
}

.banner-image {
  display: flex;
  flex: 1;
  max-width: 100%;
}


