* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: #eef4ed; */
}

#app {
  flex: 1 0 auto;
}

#footer {
  margin-top: 100px;
  padding-top: 10px;
  border-top: 1px solid black;
}

#footer ul {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  font-weight: lighter;
}

#footer li {
  display: flex;
}

#separator {
  border-top: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}
